*egg*
env/
var/
log/
tmp/
dist
__pycache__/

# Gitignores from https://github.com/github/gitignore

# Vi
*.swp
*.swo


# Vim
.*.sw[a-z]
*.un~


# OSX
.DS_Store?
Icon?

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes


# Python
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
htmlcov
coverage_report
.tox

# TextMate
*.tmproj
*.tmproject
tmtags

test.log

example.py
extensions
.env
.vagrant
myapp*.py

# redis test artifacts
dump.rdb
