language: python
sudo: false
before_install:
  - sudo apt-get -y install pipx python3-venv
  - pipx ensurepath
  - pipx install pdm
script: ./scripts/travis.sh
os:
  - linux

# env's are redundant, but at global scope additional jobs are created for
# each env var which I'm sure has a purpose but don't like
matrix:
  include:
    - python: "3.8"
      dist: "focal"
      sudo: true
      env:
        - DOCKER_COMPOSE_VERSION=v2.17.3
        - SMTP_HOST=localhost
        - SMTP_PORT=1025
    - python: "3.9"
      dist: "focal"
      sudo: true
      env:
        - DOCKER_COMPOSE_VERSION=v2.17.3
        - SMTP_HOST=localhost
        - SMTP_PORT=1025
    - python: "3.10"
      dist: "focal"
      sudo: true
      env:
        - DOCKER_COMPOSE_VERSION=v2.17.3
        - SMTP_HOST=localhost
        - SMTP_PORT=1025
    - python: "3.11"
      dist: "focal"
      sudo: true
      env:
        - DOCKER_COMPOSE_VERSION=v2.17.3
        - SMTP_HOST=localhost
        - SMTP_PORT=1025
    - python: "3.12"
      dist: "jammy"
      sudo: true
      env:
        - DOCKER_COMPOSE_VERSION=v2.17.3
        - SMTP_HOST=localhost
        - SMTP_PORT=1025
    
    # derks@2024-06-22: disable until travis support 3.13
    # see: https://github.com/datafolklabs/cement/issues/683
    # - python: "3.13"
    #   dist: "jammy"
    #   sudo: true
    #   env:
    #     - DOCKER_COMPOSE_VERSION=v2.17.3
    #     - SMTP_HOST=localhost
    #     - SMTP_PORT=1025
    #     # below is a workaround due to invalid travis Python version
    #     - PDM_IGNORE_ACTIVE_VENV=true
    #     - PYTHON_VERSION=3.13
  
services:
  - memcached
  - redis-server
  - docker
