
volumes:
  mailpit-data:

services:
  redis: 
    image: redis:latest
    hostname: redis

  memcached:
    image: memcached:latest
    hostname: memcached
  
  mailpit:
    image: axllent/mailpit
    hostname: mailpit
    restart: always
    volumes:
    - mailpit-data:/data
    - ./docker/mailpit:/certificates
    ports:
    - 8025:8025
    - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATA_FILE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
      MP_SMTP_TLS_CERT: /certificates/dev-cert.pem
      MP_SMTP_TLS_KEY: /certificates/dev-key.pem

  cement: &DEFAULTS
    image: "cement:dev"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    hostname: cement
    stdin_open: true
    tty: true
    volumes:
    - '.:/src'
    working_dir: '/src'
    links:
    - redis:redis
    - memcached:memcached
    environment:
      REDIS_HOST: redis
      MEMCACHED_HOST: memcached
      SMTP_HOST: mailpit
      SMTP_PORT: 1025
    depends_on:
      - redis
      - memcached
      - mailpit
  
  cement-py38:
    <<: *DEFAULTS
    image: "cement:dev-py38"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev-py38
  
  cement-py39:
    <<: *DEFAULTS
    image: "cement:dev-py39"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev-py39
  
  cement-py310:
    <<: *DEFAULTS
    image: "cement:dev-py310"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev-py310

  cement-py311:
    <<: *DEFAULTS
    image: "cement:dev-py311"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev-py311

  # derks@2024-06-22: not necessary atm as default cement container is 3.12
  # cement-py312:
  #   <<: *DEFAULTS
  #   image: "cement:dev-py312"
  #   build:
  #     context: .
  #     dockerfile: docker/Dockerfile.dev-py312

  # derks@2024-06-22: future dev target
  cement-py313:
    <<: *DEFAULTS
    image: "cement:dev-py313"
    build:
      context: .
      dockerfile: docker/Dockerfile.dev-py313
