# The following are only required for Cement development
pytest>=4.3.1
pytest-cov>=2.6.1
coverage>=4.5.3
sphinx
sphinx_rtd_theme
pep8
autopep8
pycodestyle
flake8
guzzle_sphinx_theme
sphinxcontrib-napoleon
mock
twine>=1.11.0
setuptools>=38.6.0
wheel>=0.31.0

# Required for optional extensions
pystache
pyYaml
redis
colorlog
tabulate
jinja2
watchdog
