# The following are only required in development, not production
nose
coverage
sphinx
pep8
autopep8
mock
sphinx_rtd_theme

# Required for optional extensions
argcomplete
pystache
pyYaml
configobj
genshi
colorlog
tabulate
