# The following are only required in development, not production
nose
coverage
sphinx
pep8
autopep8

# Required for optional extensions
pystache
pyYaml

# Note that the following will fail to install on py3
configobj
pylibmc
