# The following are only required for Cement development
nose
coverage
sphinx
pep8
autopep8
flake8
mock
guzzle_sphinx_theme
sphinxcontrib-napoleon
pypandoc

# Required for optional extensions
pystache
pyYaml
configobj
pylibmc
redis
colorlog
tabulate
jinja2
watchdog
pybars3
