# The following are only required in development, not production
nose
coverage
sphinx
pep8
autopep8
mock

# Required for optional extensions (only the ones supported on py3)
argcomplete
pystache
pyYaml
colorlog
tabulate
pylibmc
