<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ .Title }}</title>
    {{ partial "styles.html" . }}
    {{ partial "js.html" . }}
    {{ partial "hook_head_end.html" . }}
</head>
<body class="index" data-languages="{{ with .Site.Params.language_tabs  }}[{{ range $i,$e := . }}{{- if $i -}}, {{ end -}}{{ printf " %q " $e.key }}{{end}}]{{ end }}">
    <a href="#" id="nav-button">
        <span>
        NAV
        <img src='{{ relURL "slate/images/navbar.png" }}'/>
      </span>
    </a>
    <div class="tocify-wrapper">
        <img src='{{ relURL "images/logo.png" }}' />
        {{ with .Site.Params.language_tabs }}
        <div class="lang-selector">
            {{ range . }}
            <a href="#" data-language-name="{{ .key }}">{{ .name  }}</a>
            {{ end }}
        </div>
        {{ end }} 
        {{ if .Site.Params.search }}
        <div class="search">
            <input type="text" class="search" id="input-search" placeholder='{{ T "search" . }}'>
        </div>
        <ul class="search-results"></ul>
        {{ end }}
        <div id="toc">
        </div>
        {{ if .IsTranslated }}
        <div class="toc-footer">
            <h3 class="translations-title">{{ T "translations" (len .Translations ) }}</h3> 
            {{ partial "translations.html" . }}
        </div>
        {{ end }} 
        {{ with .Site.Params.toc_footers }}
        <ul class="toc-footer">
            {{ range . }}
            <li>{{ . | markdownify }}</li>
            {{ end}}
        </ul>
        {{ end}}
    </div>
    <div class="page-wrapper">
        <div class="dark-box"></div>
        <div class="content">
            {{block "main" .}}This is the main content.{{end}}
        </div>
        <div class="dark-box">
            {{ with .Site.Params.language_tabs }}
            <div class="lang-selector">
                {{ range . }}
                <a href="#" data-language-name="{{ .key }}">{{ .name  }}</a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
    {{ partial "hook_body_end.html" . }}
</body>
</html>
