"""cementtests073 controller."""

from cement.core.namespace import get_config
from cement.core.log import get_logger
from cement.core.controller import CementController, expose
from cement.core.hook import run_hooks

from cementtests073.model.example import ExampleModel

log = get_logger(__name__)
config = get_config()

class ExampleController(CementController):
    @expose('cementtests073.templates.example.cmd', namespace='example')
    def cmd(self, *args, **kw):
        # do something here
        pass